@page "/change-password/{AccountId:int}"
@using InventoryLibrary.Services.Interfaces
@using System.ComponentModel.DataAnnotations
@inject IAccountsService accountService;
@inject NavigationManager nav;
@rendermode InteractiveServer


<PageTitle>Set New Password</PageTitle>

<div class="row">
    <div class="col-lg-4 offset-lg-4 pt-4 pb-4 border">
        <EditForm Model="@Model" OnValidSubmit="NavigateHome" FormName="LoginForm">
            <DataAnnotationsValidator />
            <div class="mb-3 text-center flex-column">
                <h3>Set New Password</h3>
            </div>
<div class="mb-3">
                <label>New Password</label>
                <InputText @bind-Value="Model.Password" placeholder="Password" type="password" class="form-control" />
                <ValidationMessage For="() => Model.Password" />
            </div>
            <div class="mb-3">
                <label>Confirm Password</label>
                <InputText @bind-Value="Model.ConfirmPassword" placeholder="Password" type="password" class="form-control" />
                <ValidationMessage For="() => Model.ConfirmPassword" />
            </div>
            
            <div class="mb-3 d-grid gap-2">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </EditForm>
            @if (hasError)
            {
                <div class="mb-3 text-center">
                    <Alert Color="AlertColor.Danger">@errorMessage</Alert>
                </div>
            }
    </div>

    @if (isLoading)
    {
        <div class="text-center py-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
</div>

@code {


private bool isLoading = false;
private bool hasError = false;
private NewPasswordModel Model { get; set; } = new NewPasswordModel();
private string errorMessage = string.Empty;

[Parameter]
public int AccountId { get; set; }

private void NavigateHome()
{
    if(Model.Password.Length < 6)
    {
        hasError = true;
        errorMessage = "Password must be at least 6 characters long.";
        return;
    }else if(Model.Password != Model.ConfirmPassword)
    {
        hasError = true;
        errorMessage = "Passwords doesn't match.";
        return;
    }else{
    accountService.SetUserPassword(AccountId,Model.Password);
    nav.NavigateTo("/");
    }
}


public class NewPasswordModel
{
    [Required]
    [MinLength(6, ErrorMessage = "Password must be at least 6 characters long.")]
    public string Password { get; set; } = string.Empty;
    [Required]
    [MinLength(6, ErrorMessage = "Passwords doesn't match.")]
    public string ConfirmPassword { get; set; } = string.Empty;
}
}
