@using InventoryLibrary.Model.Inventory
@using InventoryLibrary.Services
@using InventoryLibrary.Services.Interfaces
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@inject ILogger<BaseEditForm> Logger
@inject IInventoryService inventoryService
@inject IConditionService conditionService;
@inject NavigationManager navigationManager

<EditForm Model="Model" OnValidSubmit="Submit" FormName="BaseEditForm">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div>
        <label>Item Name</label>
        <InputText @bind-Value="Model.itemName" class="form-control"/>
    </div>
    <div>
        <label>Description</label>
        <InputTextArea @bind-Value="Model.itemDescription" class="form-control"/>
    </div>
    <div>
        <label>Model Name</label>
        <InputText @bind-Value="Model.ModelName" class="form-control"/>
    </div>
    <div>
        <label>Cpu</label>
        <InputText @bind-Value="Model.CPU" class="form-control"/>
    </div>
    <div>
        <label>Ram</label>
        <InputText @bind-Value="Model.RAM" class="form-control"/>
    </div>
    <div>
        <label>Storage</label>
        <InputText @bind-Value="Model.Storage" class="form-control"/>
    </div>
    <div>
        <label>Graphics Card</label>
        <InputText @bind-Value="Model.Graphics" class="form-control"/>
    </div>
    <div>
        <label>Item's Condition</label>
        <InputSelect @bind-Value="Model.ItemConditionId" class="form-control">
            <option value="">Select Condition</option>
            @foreach(var cond in conditions){
                <option value="@cond.Id">@cond.ConditionName</option>
            }
        </InputSelect>
    </div>

    <div>
        @* For Removal *@
        <label>Quantity</label>
        <InputNumber @bind-Value="Model.quantity" class="form-control"/>

    </div>
    <div>
        <label>Weight</label>
        <InputNumber @bind-Value="Model.itemWeight" class="form-control"/>
    </div>
    <div>
        <label>Price</label>
        <InputNumber @bind-Value="Model.itemPrice" class="form-control"/>
    </div>
    <div>
        <label>End of Warranty</label>
        <InputDate @bind-Value="Model.warrantyEnd" class="form-control"/>
    </div>
    <div class="itemForm_buttons">
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="mt-3">
            <button type="button" class="btn btn-secondary" @onclick="OnCancel.InvokeAsync">Cancel</button>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int itemTypeId {get;set;}
    [Parameter]
    public EventCallback<Task> OnCancel {get;set;}
    [Parameter]
    public AGD Model{get;set;} = new AGD();

    List<ItemCondition> conditions = new();
    protected override async Task OnInitializedAsync(){
        if(Model == null){
            throw new ArgumentNullException(nameof(Model), "Model cannot be null. Please provide a valid InventoryItem instance.");
        }
        Model.ItemTypeId = itemTypeId;
        Model.warrantyEnd = DateTime.Now;
        conditions = (await conditionService.GetAllItemConditions()).ToList();
    }

    private async Task Submit(){
        await inventoryService.CreateItemAsync(Model);
        navigationManager.NavigateTo("/manage");
    }

}
