@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView Roles="Admin">
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <main>
        <AuthorizeView Context="auth">
            <Authorized>

                <div class="top-row px-4 container_bg">
                    <div>Hello, <strong> @auth.User.Identity?.Name</strong> |<a href="/logout">Logout <Icon Name="IconName.BoxArrowRight"/></a></div>
                </div>
            </Authorized>
        </AuthorizeView>

        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>