<div class="top-row ps-3 container_bg navbar navbar-dark">
    <div class="container-fluid container_bg">
        <a class="navbar-brand" href="">Inventory App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable container_bg" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="text-decoration-none"><Icon Name="IconName.Clipboard2DataFill" Size="IconSize.x4"/></span>
                Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Manage">
                <span class="text-decoration-none"><Icon Name="IconName.BoxSeamFill" Size="IconSize.x4"/></span>
                Manage
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Categories">
                <span class="text-decoration-none"><Icon Name="IconName.Stack" Size="IconSize.x4"/></span>
                Categories
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Users">
                <span class="text-decoration-none"><Icon Name="IconName.PeopleFill" Size="IconSize.x4"/></span>
                Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="text-decoration-none"><Icon Name="IconName.GearFill" Size="IconSize.x4"/></span>
                Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Data/Import">
                <span class="text-decoration-none"><Icon Name="IconName.DatabaseFillAdd" Size="IconSize.x4"/></span>
                Import
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Data/Export">
                <span class="text-decoration-none"><Icon Name="IconName.DatabaseFillDown" Size="IconSize.x4"/></span>
                Export
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Inventory">
                <span class="text-decoration-none"><Icon Name="IconName.ClipboardCheckFill" Size="IconSize.x4"/></span>
                Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="History">
                <span class="text-decoration-none"><Icon Name="IconName.ClockHistory" Size="IconSize.x4"/></span>
                History
            </NavLink>
        </div>

    </nav>
</div>

