@page "/categories"
@using InventoryLibrary.Services.Interfaces
@using InventoryWeb.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

@inject ITypeService categoryService;
@inject IConditionService conditionService;
@inject IDepartmentService departmentService;
<PageTitle>Categories</PageTitle>

@if (isLoading)
{
    <div class="text-center py-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}else if (hasError)
{
    <div class="alert alert-danger">
        <h3>No connection with Database</h3>
    </div>
}
else
{
    <div class="itemForm ">
        <h3>
            <Icon Name="IconName.FileEarmarkFill" Size="IconSize.x3" />
            Manage Categories
        </h3>
        <div class="d-flex flex-row justify-content-center">

            <div class="d-flex flex-column p-3">
                <div class="pb-3">

                    <CategoryForm Type="CategoryFormMode.Types" Items="@typesNames"></CategoryForm>
                </div>
                <div class="pb-3">
                    <CategoryForm Type="CategoryFormMode.Conditions" Items="@conditions"></CategoryForm>
                </div>
                <div class="pb-3">
                    <CategoryForm Type="CategoryFormMode.Departments" Items="@departments" ShowAddButton=true>
                    </CategoryForm>
                </div>
            </div>
            <div class="p-3">
                <CategoryForm Type="CategoryFormMode.Rooms" ShowAddButton=true></CategoryForm>
            </div>
        </div>
    </div>
}


@code {
    private bool isLoading = true;
    private bool hasError = false;
    private Dictionary<int, string> typesNames = new Dictionary<int, string>();
    private Dictionary<int, string> conditions = new Dictionary<int, string>();
    private Dictionary<int, string> departments = new Dictionary<int, string>();
    private Dictionary<int, string> locations = new Dictionary<int, string>();

    override protected async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        try
        {
            typesNames = (await categoryService.GetAllTypesAsync())
            .ToDictionary(x => x.Id, x => x.TypeName);

            conditions = (await conditionService.GetAllItemConditions())
            .ToDictionary(x => x.Id, x => x.ConditionName);

            departments = (await departmentService.GetAllDepartmentsAsync())
            .ToDictionary(x => x.Id, x => x.DepartmentName);

            locations = (await categoryService.GetAllTypesAsync())
            .ToDictionary(x => x.Id, x => x.TypeName);
        }
        catch (Exception e)
        {
            hasError = true;
            Console.WriteLine($"Categories Error: {e.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
}