@page "/"
@using InventoryLibrary.Model.Inventory
@using InventoryLibrary.Services
@using Microsoft.IdentityModel.Tokens

<PageTitle>Home</PageTitle>

<div class="container-head">
    <h1>Activity</h1>
    <div class="container-head-content">
    </div>
</div>



@code {


}