@using InventoryLibrary.Model.Inventory
@using InventoryWeb.Models
@using Microsoft.IdentityModel.Tokens


@if(item == null){
<div class="card border border-dark-subtle m-3 text-bg-dark " style="width: 18rem;">
    <div class="card-body">
        <PlaceholderContainer Animation="PlaceholderAnimation.Glow">
            <h5 class="card-title"><Placeholder Width="PlaceholderWidth.Col12"/></h5>
            <p class="card-text m-0"><Placeholder Width="PlaceholderWidth.Col12"/>
            <br/><Placeholder Width="PlaceholderWidth.Col12"/>
            </p>
            <br />
            <Placeholder Width="PlaceholderWidth.Col3" Size="PlaceholderSize.Large" Color="PlaceholderColor.Primary"/>
        </PlaceholderContainer>
    </div>
    </div>
}else{
    <div class="card border border-dark-subtle m-3 text-bg-dark " style="width: 18rem;">
            <img src="/images/@(item.ImagePath==""?"no_image.png":item.ImagePath)" class="card-img-top " />
    <div class="card-body">
        <h5 class="card-title"><b>@item.ItemName</b></h5>
        <p class="card-text m-0">in Stock: <b>@item.InStock</b>
        <br/><b>@item.ItemCategory</b>
        </p>
        <br />
        <a @onclick="Submit" class="btn btn-primary">Details</a>
    </div>
    </div>
}

@code {
    [Parameter]
    public InventoryItemGroup? item { get; set;} = null;
    private string warrantyLeft = "";

    [Parameter]
    public EventCallback<string> showDetails {get;set;}

    private bool IsWarrantEnded(){
        var dayleft = (item.WarrantyEnd.Date - DateTime.Now.Date).TotalDays;
        if(dayleft < 0){
            warrantyLeft = "Warranty Expired";
            return true;
        }else if(dayleft>30 && dayleft< 365){
            warrantyLeft = $"Warranty Ends in {dayleft / 30} Months";
            return false;
        }else if(dayleft >365){
            warrantyLeft = $"Warranty Ends in {Math.Round(dayleft / 365)} Years";
            return false;
        }
        return false;
    }

    private void Submit(){
        if (item !=null)
            showDetails.InvokeAsync(item.ItemName);
    }

}
