@using InventoryLibrary.Model.Inventory
    <div class="StatContainer " style=" border: 4px solid @color; background:@(color+"DD")">
        <div class="StatBody">
            <p>@Title</p>
            <p>@value.ToString()</p>
        </div>
                            <Icon Name="@icon" style="position: absolute !important;
        right: 1rem !important;
        bottom: -1rem !important;
        font-size: 6rem !important;
        opacity: 0.15 !important;
        z-index: 0 !important;" ></Icon>
    </div>

@code {
[Parameter]
public string Title {get;set;} = "";
[Parameter]
public string value {get;set;}

[Parameter]
public IconName icon {get;set;}
[Parameter]
public string color {get;set;} = "#0d6efd";

}
