

.StatContainer{
background: white;
min-width: 15rem;
min-height: 8rem;
border-radius: .5rem;
position: relative;
overflow: hidden;
display: flex;

}

.StatBody{
    padding: 5px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.StatBody > p:first-child {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: #666;
}

.StatBody > p:nth-child(2){
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    font-weight: bold;
}
